#games, #gameslist, #filters{
	float: left;
	width: 100%
}
#filters {
	border-bottom: 1px solid #ddd
}
#filters select {
	width: 30%;
	margin: 8px
}
#games .game {
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 0px 20px 20px 0px;
	width: 120px;
	height: 209px
}
#games a img, #games a img:hover
{
	border: none;
	background: none
}

#games .game .game-info{
	width: 120px;
	text-align: center;
	margin: 2px 0 0 0;
	padding: 0
}

.clr {
	clear:both
}

#filters select:focus {
	outline: 0
}